*{
    font-family: 'Arial', sans-serif;
}

.cabeza{
    background-color: rgb(53, 0, 0);
}

body{
    background-color: aliceblue;
}
h2{
    text-align: center;

}   

.venta img{
    width: 100%;
    height: 470px;
    object-fit: cover;
    object-position: center top;
}

.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 24px 32px;
}

.venta{
    text-align: center;
}
