*{
    font-family: 'Arial', sans-serif;
}

.cabeza{
    background-color: rgb(53, 0, 0);
}

body{
    background-color: aliceblue;
}
h2{
    text-align: center;

}   

.venta img{
    width: 380px;
    height: 470px;
}